/* RESET */

.field {
    display: block;
}

.field_type_textarea .textarea__textarea {
    resize: vertical;
    border-radius: var(--border-radius);
}

.field_type_textarea .textarea__textarea:focus {
    border: 1px solid #666060;
    box-shadow: none;
}

.task__error {
    background-color: #e78787;
}


.task-suite {
    --border-radius: 12px;
    --padding: 8px;

    box-sizing: border-box;
}

.task {
    width: 95%;
    max-width: 400px;
    padding: var(--padding, 8px);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.label {
    color: #555;
    line-height: 18px;
    font-size: 13px;
}

.audio-error {
    color: #e78787;
    font-size: 13px;
}
